* {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
}

.headline {
  text-align: center;
  color: blue;
  text-decoration: underline;
  font-size: 42px;
}

.mini {
  font-size: 32px;
}
.margin {
  margin: 16px;
}

.list.color {
  list-style-type: none;
  text-align: center;
  color: purple;
  font-size: 28px;
  font-weight: bolder;
}

.text.color {
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(252, 27, 27);
}

.homepage {
  background-image: url("/images/kitchen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe {
  background-color: rgb(235, 133, 133);
}

.img {
  margin-left: 650px;
}

.paragraph {
  font-size: 26px;
  font-weight: 600;
  color: aquamarine;
}

.paragraph.color {
  color: green;
}
