* {
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 20px auto;
  height: inherit;
  max-width: 800px;
  padding: 10px;
}
.background {
  background-color: aqua;
}

.div-background {
  background-color: black;
}

.headline {
  text-align: center;
  color: blue;
  text-decoration: underline;
  font-size: 42px;
}

.list.color,
.ingrediants {
  list-style-type: none;
  text-align: center;
  color: purple;
  font-size: 28px;
  font-weight: bolder;
  padding: 8px;
}

.button-recipe {
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(164, 253, 40);
  padding: 8px;
  margin: 8px;
}

.img {
  margin: 10px auto;
  height: auto;
  display: block;
}

.mini {
  font-size: 32px;
}

.paragraph,
.steps {
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  font-weight: 600;
  color: blueviolet;
  padding: 16px;
}
.steps {
  margin: 12px;
}

.li {
  margin: 16px;
}
